@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700|Lustria|Peddana);
@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

/*header {
margin: auto;
}
*/
h1 {
	font-size: 500%;
/*	font-family: 'Cinzel', serif;*/
	font-family: 'Lustria', serif;
/*	font-family: 'Peddana', serif;*/
/*	font-family: 'Quattrocento', serif;*/
	margin: 10px 20px 20px;
}

/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: right;
}
*/
a {
	text-decoration: none;
	color:#333;
	padding: 20px;
	/*font-size: 14px;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

a:hover {
	background-color: #000;
	color: #fff;
}

section {
	background-color: #000;
	width: 100%;
}

section img {
	width: 50%;
/*	max-width: 50%;*/
	height: auto;
	float: left;
/*	position: relative;*/
}

/*.col2 {
	width: 50%;
	margin: 0 auto;
	float: left;
}


.col2 img {
	width: 100%;

}*/

/*.wrap {
	width: 1165px;
	margin: 0 auto;
}*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#topnav{
/*	background-color:#ff0000;*/
	text-align: right; 
	padding: 15px 15px 0 0;
	font-size: 12px;
}

#mainnav{
/*	background-color:#ffff00;*/
	text-align: center;
	margin: auto;
	padding: 0px;
	text-decoration: none;
	font-size: 18px;
}

#title{
/*	background-color:#00ff00;*/
	width: 300px;
	text-align: left;
	padding-left:40px;
/*	how to center from top of screen to top of main nav?????????*/
}

/*#features{
	width: 100%;
}*/

#footernav{
/*	background-color: #555555;*/
	text-align: center;
	margin: auto;
	padding: 0px;
	text-decoration: none;
	font-size: 10px;
}

/*#feature1{
	background-color:#450000;
	float: inherit;
	display: block;
	margin: auto auto;
}

#feature2{
	background-color:#340000;
	float: center;	*/
}

@media screen and (max-width: 1000px){

	body {
	background-color: 000055;
}

	section {
	background-color: #000;
	width: 100%;
}

	section img {
	width: 100%;
/*	max-width: 50%;*/
	height: auto;
	float: none;
/*	position: relative;*/
}

#mainnav{
	background-color:#ffff00;

}