@import url(https://fonts.googleapis.com/css?family=Cinzel:700);
@import url(http://fonts.googleapis.com/css?family=Tangerine:700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption);
/*@import url(http://fonts.googleapis.com/css?family=Quicksand);*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:300);


body {
	background-color: #201d24;
	height: 100%;

}	

header {
	background-color: #201d00;
}	

h1 {
	font-family: 'Cinzel', serif;
	color: #ece0c7;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	color: #ece0c7;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
	padding: 3em 1em;
}

hr {
	width: 20vw;
	color: #ece0c7;
}

nav {
	display: block;
	width: 100%;
/*	background-color: #201d24;*/
	float: left;
	margin: auto;
	padding: 0;
	list-style-type: none;
	font-family: 'Quicksand', sans-serif;
}

nav a {
	display: block;
	background-color: #201d24;
	/*margin-top: .25em;*/
	padding: .75em;
	border: .2em;
	border-style: solid;
	border-color: #ece0c7;
	border-width: 2px;
	font-size: 1em;
	color: #ece0c7;
/*	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	width: 80%;
	height: 50%;
	margin: auto;
	margin-bottom: .5em;

}

nav a:hover {
	background-color: #795b5d;
}


#name {
	float: left;
	width: 10%;
	overflow: hidden;
	background-color: #201d24;
	display: inline;
	height: 100vh;
}

#paisley {
	width: 50%;
	padding: .2em;
	margin: auto;
/*	background-color: red;*/
	display: block;
	padding-bottom: 10px;
}

#cb {
	display: block;
	margin: auto;
/*	background-color: yellow;*/
	width: 30%
	: 50vh;

}

#rhada {
	float: left;
	height: 100vh;
	width: 60%;
	background-color: blue;
	overflow: hidden;
	background: url(images/rhada.jpg);
	background-size: contain;
	background-position: top left;
	background-repeat: no-repeat;
}

/*#rhada img {
	width: auto;
	height: 100vh;*/
}



#menu {
	float: left;
	width: 30%;
	margin: auto;
/*	background-color: yellow;*/
}

#shop {
/*	background-color: red;
	width: 80%;
	height: 50%;
	margin: auto;*/
}

#cart {

}

#about {

}

#fine {

}

#limited {

}

#news {

}

#stockists {

}

#contact {

}

@media screen and (max-width: 1500px) {


	#rhada {
	float: left;
	height: 100vh;
	width: 85%;
	background-color: blue;
	overflow: hidden;
	background: url(images/rhada.jpg);
	background-size: 75vh;
	background-position: top left;
	background-repeat: no-repeat;
}


	#menu {
/*	float: left;*/
	display: inline-block;
	width: 100%;
	margin: auto;
	background-color: blue;
	height: 100vh;
}
}
