body {
	background-image: url(/unit_3/image/IMG_3523.jpg);
	background-color: #F4931F;
	text-align: center;
	text-decoration: 

}	
h1 {
	font-size: 400%;
	font-family: Palantino, "Palantino LT STD", "Palantino Linotype", "Book Antiqua", Georgia, serif;

}

p {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}