@import url(https://fonts.googleapis.com/css?family=Cinzel:700);
@import url(http://fonts.googleapis.com/css?family=Tangerine:700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption);
@import url(http://fonts.googleapis.com/css?family=Quicksand);

/** {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}*/

body {
	background-image: url(images/rhada.jpg);
	background-color: #F4931F;
	text-align: center;
	text-decoration: 
}	

h1 {
	font-size: 400%;
	font-family: 'Cinzel', serif;
	color: #ece0c7;
}

a {
	text-decoration: none;
	color:#ece0c7;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


p {
	font-family: 'PT Sans Caption', sans-serif;
	line-height: 1.5em;
	margin: 2em; 
}

ul {
	list-style-type: none;
	font-family: 'PT Sans Caption', sans-serif;
}

h3 {
	font-family: 'Quicksand', sans-serif;
}
