@import url(https://fonts.googleapis.com/css?family=Cinzel:700);
@import url(http://fonts.googleapis.com/css?family=Tangerine:700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption);
@import url(http://fonts.googleapis.com/css?family=Quicksand);

/** {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}*/

body {
	background-image: url(/unit_3/image/IMG_3523.jpg);
	background-color: #F4931F;
	text-align: center;
	text-decoration: 

}	
h1 {
	font-size: 400%;
	font-family: 'Cinzel', serif;

}

#slogan {
	font-size: 200%;
	font-family: 'Tangerine', cursive;
/*}
nav {
	text-decoration: none;
	margin: 1em;
	color:#F9F1DC;

}*/
nav {
	width:370px;
	margin: auto;
	padding: 1em 0;

}
p {
	font-family: 'PT Sans Caption', sans-serif;
	line-height: 1.5em;
	margin: 2em; 
}

ul {
	list-style-type: none;
	font-family: 'PT Sans Caption', sans-serif;
}

h3 {
	font-family: 'Quicksand', sans-serif;
}