@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700|Lustria|Peddana);
@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

h1 {
	font-size: 500%;
/*	font-family: 'Cinzel', serif;*/
	font-family: 'Lustria', serif;
/*	font-family: 'Peddana', serif;*/
/*	font-family: 'Quattrocento', serif;*/
}

#topnav{
	background-color:#ff0000;
	text-align: right;
}

#mainnav{
	background-color:#ffff00;
	text-align: center;
	margin: auto;
	padding: 20px;
	text-decoration: none;
}

#title{
	background-color:#00ff00;
	width: 300px;
	text-align: left;
	padding:40px;
}

#feature1{
	background-color:#450000;
	float: left;
}

#feature2{
	background-color:#440000;
	float: left;	
}